In [2]:
import pandas as pd

df = pd.read_csv("datasets/original_treated.csv")
df = df.sort_values(by=["student_id", "period", "discipline"])

df.head()

,id,student_id,birthdate,sex,city,course,period,week_day,discipline,status,g1,g2,final_grade,canceled_discipline,skipped_discipline
0,1,99951,1992-05-21,2,Faxinal do Soturno,1,1,1,Matemática Aplicada,1,0.75,0.70,0.72,0,0
1,3,99951,1992-05-21,2,Faxinal do Soturno,1,2,2,Contabilidade Intermediária,1,0.72,0.89,0.80,0,0
2,2,99951,1992-05-21,2,Faxinal do Soturno,1,3,3,Contabilidade Avançada,0,0.00,0.00,0.00,1,0
3,4,99955,1989-01-06,1,Faxinal do Soturno,1,4,2,Contabilidade Introdutória,1,0.84,0.88,0.86,0,0
4,8,99955,1989-01-06,1,Faxinal do Soturno,1,4,1,Legislação e Ética Profissional,1,0.98,0.99,0.98,0,0